@{
    ViewBag.Title = "AdminSide";
}

<h2>Administrator</h2>

<ul>
    <li>@Html.ActionLink("Behandle registerte kunder", "Liste")</li>
    <li>@Html.ActionLink("Behandle bøker", "hentAlleBoker")</li>
</ul>