@model List<BookStore.Model.Sjanger>
@{
    ViewBag.Title = "Butikk";
}

<legend>
    Se bøker ut ifra sjangere:
</legend>
<ul>
    @foreach (var sjanger in Model)
    {
        <li>@Html.ActionLink(sjanger.Navn, "visAlleBokerSjanger", new { sjanger = sjanger.Navn })</li>

    }
</ul>

