
@{
    ViewBag.Title = "Index";
}

<h2>Administrator</h2>

<ul>
    <li>@Html.ActionLink("Behandle registerte kunder", "Liste")</li>
    <li>@Html.ActionLink("Behandle produkter", "bokIndex")</li>
    <li>@Html.ActionLink("Vis bøker", "hentAlleBoker")</li>
</ul>