@model IEnumerable<BookStore.Model.Bestilling>

@{
    ViewBag.Title = "VisOrdre";
}

<h2>Ordrehistorikk: </h2>

<div>
    <ul>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <li><a href="/Admin/visOrdreDetaljer?id=@item.BestillingsID.ToString()">Bestillingsnummer: @item.BestillingsID.ToString() , @item.BestillingsDato</a></li>
            }
        }
        else
        {
            <p>Ingen ordre</p>
        }
    </ul>

</div>
<div>
    @Html.ActionLink("Tilbake", "Liste")

</div>
