@model IEnumerable<BookStore.Model.Bestilling>

@{
    ViewBag.Title = "VisOrdre";
}

<h2>Din ordrehistorikk: </h2>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Admin/visOrdreDetaljer?id=@item.BestillingsID.ToString()">Bestillingsnummer: @item.BestillingsID.ToString() , @item.BestillingsDato</a></li>
        }
    </ul>

</div>
<div>
    @Html.ActionLink("Tilbake", "Liste")

</div>
